####################
## Hidden Files
####################

*.hidden

###############
## Coverage
###############

*.gcno

#################
## Waf
#################

.waf*
.lock*
waf-*
out*
build/*

#############
## Python
#############

*.py[co]
/env
/dist
/waf/dist
__pycache__
/.venv

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

.DS_Store

#################
## nix dev env
#################
venv
shell.nix